@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

* {
  padding:0;
  margin:0;
}

html {
  scroll-behavior:smooth;
}

body {
  background-image:url('../img/math-course-bg.jpg');
  background-position:top;
  background-repeat:no-repeat;
  background-size:cover;
}

ul {
  padding:0;
  margin:0;
}

li {
  list-style-type:none;
}

.text h4,
.quarter {
  font-weight:bold;
}

/* FONT COLORS */
.grades-list li {
  color:#6E685D;
}

.contact li,
h3,
h4,
p {
  color:#E1E0DB;
}

a {
  color:#E1E0DB;
  text-decoration:none;
}

a:hover {
  color:#E1E0DB;
}

/* FONT TYPE */
li,
p {
  font-size:1em;
  font-family: 'Open Sans', sans-serif;
}

h3,
h4 {
  font-size:1.5em;
  font-family: 'Inria Serif', serif;
}

nav li {
  font-family: 'Inria', serif;
  color: #E1E0DB;
}

.info h3 {
  font-size:1.8em;
}

/* SITE COLORS */
.custom-color {
  color: #E1E0DB;
}

/* SECTION 1: NAVBAR */
nav {
  background:transparent;
}

nav a:hover {
  transition: 100ms;
  color: #E1E0DB;
  text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(97, 192, 255),
    0 0 21px rgb(0, 173, 253),
    0 0 42px rgb(0, 153, 255),
    0 0 82px rgb(0, 153, 255),
    0 0 92px rgb(0, 153, 255),
    0 0 102px rgb(0, 153, 255),
    0 0 151px rgb(0, 153, 255);
}

.navbar {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#search {
  font-family:"Times New Roman",serif;
}

/* HEADER */
#header-placeholder {
  height:10vh;
  width:100vw;
  background-color:#E1E0DB;
}

/* MAIN CONTENT */
/* INTRO */
.images img {
  object-fit:cover;
  object-position:center;
  height:100%;
  width:100%;
  border-radius:25px;
}

.featured {
  height:50vh;
  width:100%;
}

.quote {
  height:100%;
  width:75%;
}

.quote {
  background-color:#6E685D;
  border-radius:25px;
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:space-between;
}

.quote-text {
  font-style:italic;
  text-align:center;
}

.quote-source {
  text-align:right;
}

/* MODULES */
.modules .text h4,
.reqs .text h4 {
  padding-bottom:8px;
  border-bottom:2px solid #E1E0DB;
}

.files p {
  background-color:#8B8479;
  border-radius:25px;
}

/* FOOTER */
footer {
  background-color:#6E685D;
}

/* ---------------- MEDIA QUERIES ---------------- */
/* UP UNTIL SMALL SCREEN */
@media only screen and (max-width: 766px) {
  .quote {
    display:none;
  }

  footer .container {
    display:flex;
    flex-direction:column;
    row-gap:1em;
  }
}

/* AT LEAST MEDIUM SCREEN */
@media only screen and (min-width: 767px) {
  .images {
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:45vh;
    column-gap:2em;
  }

  .files {
    display:grid;
    grid-template-columns:50% 50%;
    column-gap:1em;
    text-align:center;
  }

  footer .container {
    display:grid;
    grid-template-columns: 65% 35%;
    column-gap:1.5em;
  }

  .contact {
    min-width:65%;
  }

  .info {
    min-width:35%;
    display:flex;
    flex-direction:column;
    row-gap:1em;
  }

  .info li {
    line-height:1.5em;
  }
}